.reply{
    width:100%;   
    display:flex;
    border:solid 1px lightgrey;
    margin: 5px 0;
}

.replyMsg{
    background:white;
    padding:10px;
    width:90%;
    font-size:12px;
}

.userWrapper{
    min-width: 115px;
}