.App{
    position:relative;
    width: 100vw;
    min-height: 100vh;
    background: url(./assets/ironForge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.mainWrapper{
    width: 70vw;
    display: flex;
    justify-content: space-around
}

.replySection > .NewPost{
    width: auto;
}

.userWrapper > .user{
    padding: 10px;
    background:white;
    border-radius: 5px;
}

/* .bgCover{
    position:absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1) 7%);
} */

