.Home{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* .composeMsg{
    position: relative;
    display: inline-block;
    width:77%;
    height: 214px;
    margin-top: 20px;
    background: rgb(206, 206, 206);
} */

.userContainer{
    width:18%;
    padding-top: 30px;
}

.userContainer > .user{
    padding:0;
    height: 100%;
}

.Home > .NewPost{
    margin-top: 20px;
    padding: 20px;
}