.Home{
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 20%);
    z-index:100;
}

.userContainer{
    width:18%;
    padding-top: 30px;
}

.userContainer > .user{
    padding:0;
    height: 100%;
}

.Home > .NewPost{
    margin-top: 20px;
    padding: 20px;
}

.Home > .user{
    padding-top: 10px;
    color: rgb(243, 243, 243);
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}