.userImg{
    position: relative;
   
}

#userWrap{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

p{
    width: 100%;
    font-size: 12px;
    margin-block-end: 3px;
    margin-block-start: 3px;
}

.userMsgContainer{
    position:relative;
    margin:0 0 0 20px;
    color: white;
}

.user{
    text-align:center;
    min-width: 170px;
}